@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:aqua" class="display-4">Thanks To Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
